@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="contacto">
        <h2>Contactanos</h2>
        <form class="">
            <label for="nombre">Nombre:</label>
            <input class="contactanos" type="text" id="nombre" name="nombre" required>

            <label for="email">Email:</label>
            <input class="contactanos" type="email" id="email" name="email" required>

            <label for="mensaje">Mensaje:</label>
            <textarea class="contactanos" id="mensaje" name="mensaje" required></textarea>

            <input class="ContactSend" type="submit" value="Enviar">
        </form>

        
    </div>
   






}
