@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-start align-items-center divhome">
    <div class="me-5">
        <h2 class="titulo">Tienda Lolsito</h2>
        <p class="parrafo">¡Bienvenido a nuestra tienda de figuras de League of Legends! Aquí encontrarás una amplia selección de figuras de tus personajes favoritos de LoL, desde campeones clásicos hasta los más recientes. Cada figura está diseñada con gran detalle y calidad para que puedas mostrar tu amor por el juego y tus campeones preferidos. ¡Explora nuestra tienda y encuentra la figura perfecta para añadir a tu colección de LoL hoy mismo!</p>
        <button type="button" class="btn boton">¡Compra ya!</button>
    </div>
</div>
