@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>Esto es una etiqueta h2 equisdE</h2>

<h1>JEJE ES PORQ SOY MUJER XD</h1>

<p>Lorrehbshfjdkshfjhdsfhjsdkahjf</p>