@{
    ViewData["Title"] = "Quienes Somos";
}

<div class="divSomos">
    <div class="me-5">
        <h2 class="titulo2">@ViewData["Title"]</h2>
        <p class="parrafo2">Somos una tienda dedicada a ofrecer la mejor selección de figuras coleccionables de alta calidad de tus personajes favoritos de League of Legends.</p>
        <p class="parrafo2">Nuestro equipo está conformado por un grupo de apasionados por los videojuegos y las figuras coleccionables. Nos esforzamos por ofrecer a nuestros clientes la mejor experiencia de compra en línea, con un servicio al cliente excepcional y una amplia variedad de productos que no encontrarás en ninguna otra tienda en línea.</p>
        <p class="parrafo2">En nuestra tienda, nos enorgullece ofrecer figuras de alta calidad y detalladas de tus personajes favoritos de League of Legends. Nos aseguramos de trabajar solo con fabricantes y distribuidores de confianza para garantizar la calidad de cada producto que ofrecemos.</p>
        <p class="parrafo2">Además, ofrecemos envíos a todo el mundo y una política de devoluciones flexible para garantizar la satisfacción total de nuestros clientes. Si tienes alguna pregunta o necesitas ayuda con tu pedido, nuestro equipo de atención al cliente estará encantado de ayudarte en todo lo que necesites.</p>
   
    </div>

    <p>y los niños sonrien y podemis ver su alegria sin fin dejan a los adultos y debujan su sueños sobre un puente de arcoiris</p>
</div>